/*
 Add any css you want to use for you website here */
 /*mypage_bootstrap.html
   -header
   -body
 */
.homeHead, .homeBody{
	height:100%; /* important to vertically align the container */
	padding:5px;
	margin: 10px;
	background-color: powderblue;
}

 /*form.html
   -header
   -body
 */
.formHead, .formBody{
	height:100%; /* important to vertically align the container */
	padding:5px;
	margin: 10px;
	background-color: powderblue;
}

 /*mypage_bootstrap.html
   -name
   -projects
   -interests
   form.html
   -interest name 
   -interest text
   -upload file 
   -interest level 
   -interests
 */
.title{
	font-family: "Bebas Neue"; 
	font: "Bebas Neue"; 
	text-align: center;
	list-style: inside;
	list-style-type: circle;
}

 /*mypage_bootstrap.html
   -
   form.html
   -please sign in 
 */
.titleleft{
	font-family: "Bebas Neue"; 
	font: "Bebas Neue"; 
	text-align: left;
	list-style: inside;
	list-style-type: circle;
}

 /*mypage_bootstrap.html
   -3 facts about me header
   -why computer science? header
   -my professional profile header
   -culture card header
   -nature card header
   -art card header
   form.html
   -culture card header
   -nature card header
   -art card header
 */
.section{
	font-family: "Bebas Neue"; 
	font: "Bebas Neue"; 
	text-align: center;
}

 /*mypage_bootstrap.html
   -3 facts about me text
   -why computer science? text
   -my professional profile text
 */
.sectiontext{
	font-family: 'Gabriela';
	font: "Gabriela";
	text-align: center;
	list-style: inside;	
	list-style-type: circle;
}

 /*mypage_bootstrap.html
   -title subheader
   -my professional profile link
   -culture card text
   -nature card text
   -art card text
   form.html
   -culture card text
   -nature card text
   -art card text
 */
.subtitles{
	font-family: 'Gabriela'; 
	font: "Gabriela";
	text-align: center;
	color: rgb(107, 107, 107);
}

 /*mypage_bootstrap.html
   -link headshot
   -headshot image
   form.html
    -link headshot
 */
.headshot{
	border-style: solid;
	border-width: 4px; 
	color: white;
	border-radius: 50%; 
}


 /*mypage_bootstrap.html
   -projects table
 */
.tables{
	font-family: 'Gabriela'; 
	font: "Gabriela";
	margin-left:auto;
	margin-right:auto;
	text-align: center;	
	border-width:8px; 
	border-color: black;
	border-radius: 95%;
	margin-left:auto;
	margin-right:auto;
}

 
 /*mypage_bootstrap.html
   -culture card 
   -nature card 
   -art card 
   -culture card image
   -nature card image
   -art card image
   form.html
   -culture card 
   -nature card 
   -art card 
   -culture card image
   -nature card image
   -art card image
*/
.card{
	font-family: 'Gabriela'; 
	font: "Gabriela";
	text-align: center;	
	border-width:8px;
	border-radius: 8px; 
	padding: 10px;
	width: 250px;
	height: 340px; 
}


 /*mypage_bootstrap.html
   -add interest button
 */
.buttons{ 
	font-size: 30px;
	border-color: black; 
	background-color: powderblue;
	color: black; 
}


 /*
   form.html
	-form section
	-sign in section
 */
.form{
	font-family: 'Gabriela'; 
	font: "Gabriela";
	background-color: powderblue;
}


 /*
   form.html
    -number of tweets dropdown
 */
.dropdown{
	font-family: 'Gabriela'; 
	font: "Gabriela";
	background-color: powderblue;
}


 /*
   form.html
    -level of interest
 */
.interestBox{
	width: 135px;
	height: 135px; 
	padding: 10px;
	border: 1px solid gray;
	margin: 0;
}





